    <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Book your parking</h1>
      </div>
      <p>You are about to book for:<a><%= @listing.inspect %></a></p>
    </div>
  
  
    <div class="row">
    <form action="" method="post">
      <p> Name </p>
	  <input type="text" name="fname"><br>
	  <p> License </p>
	  <input type="text" name="lname"><br>
	  <input type="submit" value="Submit">
	</form>
    </div>
  </div>